<div class="row">
  <div class="col-md-6">
    <h2>Nouveau post</h2>
    <form [formGroup]="postForm" (ngSubmit)="onSave()">
      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" id="title" class="form-control" formControlName="title">
      </div>
      <div class="form-group">
        <label for="content">Contenu</label>
        <textarea rows="4" id="content" class="form-control" formControlName="content"></textarea>
      </div>
      <button type="submit" class="btn btn-default">Enregistrer</button>
    </form>
  </div>
</div>
